{% extends 'myapp/layoute.html' %}

{% block title %}
    <title>Data</title>
{% endblock %}

{% block content %}
    <body>
        <h1>Это страница Data</h1>

        <section style="margin-top: 20px; padding: 20px; border: 2px solid #ccc; border-radius: 10px; background-color: #f9f9f9;">
            <h2>Анекдот про пастуха и коров</h2>
            <p style="font-size: 18px; line-height: 1.5; color: #333;">
                Пастух пасёт стадо коров. Подходит к нему человек и говорит:
                <br><br>
                — Если я угадаю количество коров в твоем стаде, дашь мне одну?
                <br>
                Пастух соглашается. Человек осматривает стадо и говорит:
                <br>
                — 132 коровы.
                <br>
                Пастух в шоке:
                <br>
                — Да, это правильно. Забирай любую корову.
                <br>
                Человек берет животное и уходит. Пастух догоняет его:
                <br>
                — Если я угадаю, кем ты работаешь, вернёшь мне корову?
                <br>
                Человек соглашается.
                <br>
                Пастух говорит:
                <br>
                — Ты программист.
                <br>
                — Как ты узнал?
                <br>
                — Верни мне собаку и я всё объясню! <br> ---{{caption}}
            </p>
        </section>
    </body>
{% endblock %}


