
{% extends 'myapp/layoute.html' %}

{% block title %}
    <title>Главная</title>
{% endblock %}

{% block content %}
    <body>
        <div class="container mt-4">
            <h1 class="text-center">Добро пожаловать на главную страницу!</h1>
            <div class="content mt-4">
                <p style="font-size: 1.2em; line-height: 1.6;">
                    Смех — это не просто реакция на шутку, это важный элемент нашего
                    повседневного благополучия. Исследования показывают, что смех может
                    способствовать улучшению физического и психического здоровья.
                    Он помогает снизить уровень стресса, улучшить настроение и даже
                    укрепить иммунную систему. Смех стимулирует выработку эндорфинов,
                    известных как "гормоны счастья", что способствует общему ощущению
                    благополучия и радости. Кроме того, смех может улучшить социальные
                    связи и создать атмосферу доверия и сотрудничества. Он напоминает
                    нам о важности легкости и веселья в нашей жизни. Так что не
                    забывайте смеяться и делиться улыбкой с окружающими, ведь это может
                    продлить вашу жизнь и сделать её более насыщенной и счастливой.<br>  ---{{caption}}
                </p>
            </div>
        </div>
    </body>
{% endblock %}