<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Главная страница</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'test' %}">Страница Test</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'test2' %}">Страница Test 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'data' %}">Страница Data</a>
        </li>
                <li class="nav-item">
            <a class="nav-link" href="{% url 'new1' %}">Страница новостей</a>
        </li>

    </ul>
</nav>
