{% extends 'myapp/layoute.html' %}

{% block title %}
    <title>Test</title>
{% endblock %}

{% block content %}
    <body>
        <h1>Это страница Test</h1>

        <section style="margin-top: 20px; padding: 20px; border: 2px solid #ccc; border-radius: 10px; background-color: #f0f8ff;">
            <h2>Анекдот про Шерлока Холмса</h2>
            <p style="font-size: 18px; line-height: 1.5; color: #333;">
                Шерлок Холмс и доктор Ватсон отправились в поход. Уложившись спать, среди ночи Холмс будит Ватсона и спрашивает:
                <br><br>
                — Ватсон, взгляните на звёзды и скажите мне, что вы видите.
                <br>
                — Я вижу миллионы звёзд, — отвечает Ватсон.
                <br>
                — И что вам это говорит? — интересуется Холмс.
                <br>
                — С астрономической точки зрения, это говорит мне, что существуют миллионы галактик и потенциально миллиарды планет. С астрологической точки зрения, мне это говорит, что Сатурн в созвездии Льва. С точки зрения времени, я полагаю, что сейчас около четверти третьего. С точки зрения метеорологии, мне кажется, что завтра будет прекрасный день. А что вам говорит это?
                <br>
                Холмс молчит несколько секунд и говорит:
                <br>
                — Ватсон, вы идиот! Это говорит о том, что кто-то украл нашу палатку!<br>  ---{{caption}}
            </p>
        </section>
    </body>
{% endblock %}
